.bio-title {
    width: 100%;
    background-color: #E5E5E5;
    padding: 20px;
    margin: auto auto 40px;
}

.bio-title a {
    font-size: 24px;
    color: #000000;
    text-decoration: none;
    line-height: 35px;
    font-weight: 700;
}

.bio-title2 {
    font-size: 18px;
    line-height: 32px;
    color: #dfb900;
    padding-bottom: 20px;
    font-weight: 700;
    letter-spacing: 7px;
}

.bio-texto {
    font-size: 16px;
    line-height: 20px;
    color: #000;
    margin-bottom: 20px;
}

#infancia-img {
    background: #ffffff url(../img/bio01.jpg) no-repeat 50% 50%;
    height: 415px;
}

#universidad-img {
    background: #fed201 url(../img/bio_bg_01.jpg) no-repeat 0% 50%;
    min-height: 512px;
}

.bio-section .container {
    padding-right: 15px;
    padding-left: 15px;
}

.invert {
    color: #ffffff;
}

.bio-universidad {
    background-color: #fed201;
}

.bio-ucla {
    background-color: #CCC;
}

#bio-ucla-logo {
    margin-top: 10px;
    margin-bottom: -60px;
}

#bio-ucla-foto{
    background: url(../img/bio_UCLA_foto.jpg) no-repeat 30% 50%;
    min-height: 270px;
    margin-top: -20px;
}

#bio-ypf-foto{
    background: url(../img/bio_YPF_foto.jpg) no-repeat 50% 50%;
    min-height: 270px;
    margin-top: -20px;
}

.bio-torcuato{
    background: #000000 url(../img/bio_bg_02.jpg) no-repeat 43% 50%;
    min-height: 478px;
}
.bio-harvard{
    background-color: #424242;
}
.bio-harvard .container{
    background: #424242 url(../img/bio_bg_03.jpg) no-repeat 50% 50%;
    min-height: 478px;
}

.bio-banco-ciudad{
    background: #CCC url(../img/bio_bg_04.jpg) no-repeat 80% 50%;
}

.bio-img-congreso{
    background: url(../img/bio_congreso_foto.png) no-repeat 50% 50%;
    min-height: 300px;
}

.bio-cv{
    width:100%;
    background-color:#FFD300;
    padding:30px;
    margin: 40px auto auto;
}

.bio-cv a{
    font-size:24px;
    line-height:24px;
    color:#ffffff;
    text-decoration:none;
}

.bio-cv a:hover{
    text-decoration:underline;
}