@charset "UTF-8";
/* RESET CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,		
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
}

ul li{
	list-style:none;
}

input:focus{
	outline:0px;
}

body{
	font-family: 'Open Sans', sans-serif;
}

.wrapper{
	width:900px;
	margin:auto;
}

@font-face {
    font-family: 'GillSansMTItalic';
    src: url('fonts/gillsans-italic.eot');
    src: url('fonts/gillsans-italic.eot') format('embedded-opentype'),
         url('fonts/gillsans-italic.woff') format('woff'),
         url('fonts/gillsans-italic.ttf') format('truetype'),
         url('fonts/gillsans-italic.svg#GillSansMTItalic') format('svg');
}

@font-face {
    font-family: 'GillSansMTBoldItalic';
    src: url('fonts/gillsans-bolditalic.eot');
    src: url('fonts/gillsans-bolditalic.eot') format('embedded-opentype'),
         url('fonts/gillsans-bolditalic.woff') format('woff'),
         url('fonts/gillsans-bolditalic.ttf') format('truetype'),
         url('fonts/gillsans-bolditalic.svg#GillSansMTBoldItalic') format('svg');
}

/******************header******************/

.header{
	height:86px;
}

.header .logo{
	width:300px;
	float:left;
}

.header .texto{
	width:345px;
	height:86px;
	float:left;	
}

.header .texto .ajuste{
	padding-top:38px;
	padding-left:14px;
    font-family: 'GillSansMTBoldItalic';
	color:#b7b7b7;
	font-size:14px;
	line-height:16px;
}

.header .texto .ajuste span{
    font-family: 'GillSansMTItalic';
	color:#b7b7b7;
	font-size:14px;
	line-height:16px;
}

.header .buscador{
	width:255px;
	height:86px;
	float:left;
	background-color:#E5E5E5;
}

.header .buscador .ajuste{
	padding-top:21px;
	padding-left:26px;
}

.header .buscador .ajuste input[type=text]{
	font-family:"Open Sans", sans-serif;
	background-color:#E5E5E5;
	border:none;
	font-size:18px;
	line-height:32px;
	width:170px;
	font-style:italic;
	color:#3d3d3d;
}

.header .buscador .ajuste input[type=submit]{
	margin-left:10px;
}

/******************NAVEGADOR******************/

.navegador{}

.navegador ul li{
	list-style:none;
	float:left;
	font-family:"Open Sans", sans-serif;
	font-size:15px;
	line-height:32px;
	font-weight:700;
	text-align:center;
	color:#5c5c5c;
}

.navegador ul li a{
	display:block;
	color:#5c5c5c;
	text-decoration:none;
}

.navegador ul li a:hover{
	color:#dfb800;
}

.navegador ul li.menu01{width:125px;}
.navegador ul li.menu02{width:125px;}
.navegador ul li.menu03{width:125px;}
.navegador ul li.menu04{width:240px;}
.navegador ul li.menu05{width:125px;}
.navegador ul li.menu06{width:160px;}

.navegador ul li.select{
	background-color:#FFD302;
}
.navegador ul li.select a{
	color:#fff;
}

/******************SLIDER******************/


/******************NOVEDADES******************/

.novedades_principal{}

.novedades_principal .principal{
	float:left;
	width:300px;
	position:relative;
}

.novedades_principal .principal .layer{
	position:absolute;
	top:0px;
	left:0px;
	width:295px;
	height:605px;
background: rgba(0,0,0,0);
background: -moz-linear-gradient(bottom, rgba(0,0,0,0.1)60%, rgba(0,0,0,1) 100%);
background: -webkit-linear-gradient(bottom, rgba(0,0,0,0.1)60%, rgba(0,0,0,1) 100%);
background: -o-linear-gradient(bottom, rgba(0,0,0,0.1)60%, rgba(0,0,0,1) 100%);
background: -ms-linear-gradient(bottom, rgba(0,0,0,0.1)60%, rgba(0,0,0,1) 100%);
background: linear-gradient(to top, rgba(0,0,0,0.1)60%, rgba(0,0,0,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );

}

.novedades_principal .principal a{
	color: #ffcc00;
	text-decoration:none;
}

.novedades_principal .principal .layer a:hover{
	text-decoration:underline;
}

.novedades_principal .principal .layer .tag{
	position: absolute;
	font-size: 14px;
	line-height: 14px;
	color: #fff;
	font-weight: 700;
	left: 25px;
	top: 38px;
}

.novedades_principal .principal .layer .titulo{
	position: absolute;
	font-size: 24px;
	line-height: 26px;
	color: #ffcc00;
	left: 25px;
	top: 60px;
}

.novedades_principal .principal .layer .texto{
	position: absolute;
	font-size: 16px;
	line-height: 24px;
	color: #fff;
	bottom: 40px;
	right: 44px;
	text-align: right;
	width: 230px;
}

.novedades_principal .novedades{
	float:left;
	width:600px;
}

.novedades_principal .novedades .box{
	width:300px;
	height:300px;
	float:left;
	text-align:right;
}

.novedades_principal .novedades .box a{
	color:#ffcc00;
	text-decoration:none;
}

.novedades_principal .novedades .box a:hover{
	text-decoration:underline;
}

/***************OPCION A***************/
.novedades_principal .novedades .box_a{
	padding:28px;
	background-color:#fff;
}

.novedades_principal .novedades .box_a .tag{
	font-size:14px;
	line-height:32px;
	color:#595959;
	font-weight:700;
}

.novedades_principal .novedades .box_a .titulo{
	font-size:24px;
	line-height:26px;
	color:#ffcc00;
}

.novedades_principal .novedades .box_a .bajada{
	font-size:14px;
	line-height:24px;
	color:#ffcc00;
	font-weight:700;
	padding-top:15px;
}

.novedades_principal .novedades .box_a .texto{
	font-size:16px;
	line-height:24px;
	color:#161616;
	padding-top:20px;
}

/***************OPCION b***************/
.novedades_principal .novedades .box_b{
	padding:28px;
	background-color:#F5F5F5;
}

.novedades_principal .novedades .box_b .tag{
	font-size:14px;
	line-height:32px;
	color:#595959;
	font-weight:700;
}

.novedades_principal .novedades .box_b .titulo{
	font-size:24px;
	line-height:26px;
	color:#ffcc00;
}

.novedades_principal .novedades .box_b .bajada{
	font-size:14px;
	line-height:24px;
	color:#ffcc00;
	font-weight:700;
	padding-top:15px;
}

.novedades_principal .novedades .box_b .texto{
	font-size:16px;
	line-height:24px;
	color:#161616;
	padding-top:20px;
}

/***************OPCION C***************/
.novedades_principal .novedades .box_c{
	padding:28px;
	background-color:#E5E5E5;
}

.novedades_principal .novedades .box_c .tag{
	font-size:14px;
	line-height:32px;
	color:#595959;
	font-weight:700;
}

.novedades_principal .novedades .box_c .titulo{
	font-size:24px;
	line-height:26px;
	color:#ffcc00;
}

.novedades_principal .novedades .box_c .bajada{
	font-size:14px;
	line-height:24px;
	color:#ffcc00;
	font-weight:700;
	padding-top:15px;
}

.novedades_principal .novedades .box_c .texto{
	font-size:16px;
	line-height:24px;
	color:#161616;
	padding-top:20px;
}

/***************OPCION D***************/
.novedades_principal .novedades .box_d{
	padding:28px;
	background-color:#FFCC00;
}

.novedades_principal .novedades .box_d .tag{
	font-size:14px;
	line-height:32px;
	color:#595959;
	font-weight:700;
}

.novedades_principal .novedades .box_d .titulo{
	font-size:24px;
	line-height:26px;
	color:#000;
}

.novedades_principal .novedades .box_d a{
	color:#000;
	text-decoration:none;
}

.novedades_principal .novedades .box_d a:hover{
	text-decoration:underline;
}

.novedades_principal .novedades .box_d .bajada{
	font-size:14px;
	line-height:24px;
	color:#000;
	font-weight:700;
	padding-top:15px;
}

.novedades_principal .novedades .box_d .texto{
	font-size:16px;
	line-height:24px;
	color:#161616;
	padding-top:20px;
}

/******************NOVEDADES SECUNDARIO******************/

.novedades_sec{}

.novedades_sec .nov_sec_box{
	width:295px;
	height:300px;
	float:left;
	position:relative;
}

.novedades_sec .nov_sec_box .link_layer{
	position: absolute;
	bottom: 0px;
	background-color: rgba(255,211,0, 0.8);
	width: 100%;
	height:75px;
}

.novedades_sec .nov_sec_box .link_layer p{
	padding:20px 10px 0px 10px;
	text-align:center;
}

.novedades_sec .nov_sec_box .link_layer p a{
	font-size:24px;
	line-height:26px;
	color:#fff;
	text-decoration:none;
	text-align:center;
}

.novedades_sec .nov_sec_box .link_layer p a:hover{
	text-decoration:underline;
}


.novedades_sec .sep{
	height: 300px;
	float: left;
	position: relative;
}

/******************MAS NOVEDADES******************/

.mas_novedades{
	width:100%;
	background-color:#555555;
}

.mas_novedades .ajuste{
	width:900px;
	margin:auto;
	padding:30px;
}

.mas_novedades .ajuste p{
	text-align:center;
}

.mas_novedades .ajuste p a{
	font-size:24px;
	line-height:24px;
	color:#ffd300;
	text-decoration:none;
}

.mas_novedades .ajuste p a:hover{
	text-decoration:underline;
}

/******************PROPUESTA******************/

.box_propuesta{
	width:100%;
	height:130px;
	background-color:#FFD300;
}

.box_propuesta .logo{
	width:90px;
	float:left;
	text-align:right;
}

.box_propuesta .logo img{
	padding-top:15px;
	padding-right:10px;
}

.box_propuesta .texto{
	width:440px;
	float:left;	
}

.box_propuesta .texto .ajuste{
	padding-top:38px;
	color:#2f2f2f;
	font-size:28px;
	line-height:25px;
	font-weight:700;
}

.box_propuesta .texto .ajuste span{
	color:#2f2f2f;
	font-size:18px;
	line-height:20px;
	font-weight:700;
}

.box_propuesta .buscador{
	width:350px;
	height:80px;
	float:left;
	background-color:#fff;
	margin:20px 0px 20px 0px;
}

.box_propuesta .buscador .ajuste{
	padding-top:21px;
	padding-left:26px;
}

.box_propuesta .buscador .ajuste input[type=text]{
	font-family:"Open Sans", sans-serif;
	background-color:#fff;
	border:none;
	font-size:18px;
	line-height:32px;
	width:255px;
	font-style:italic;
	color:#3d3d3d;
}

.box_propuesta .buscador .ajuste input[type=submit]{
	margin-left:10px;
}

/******************SEGUINOS******************/

.seguinos{}

.seguinos .box_left{
	width:500px;
	float:left;
}

.seguinos .box_left .titulo{
	font-size:24px;
	line-height:26px;
	color:#ffd300;
}

.seguinos .box_left .social{
	padding-top:40px;
	padding-bottom:40px;
}

.seguinos .box_left .enterate{
	font-size:14px;
	line-height:16xp;
	color:#b2b4b6;
	padding-top:40px;
	padding-bottom:10px;
	font-weight:700;
}

.seguinos .buscador{
	width:440px;
	height:80px;
	float:left;
	background-color:#E5E5E5;
	margin:0px 0px 20px 0px;
}

.seguinos .buscador .ajuste{
	padding-left:20px;
}

.seguinos .buscador .ajuste input[type=text]{
	font-family:"Open Sans", sans-serif;
	background-color:#E5E5E5;
	border:none;
	font-size:18px;
	line-height:32px;
	width:345px;
	font-style:italic;
	color:#3d3d3d;
}

.seguinos .buscador .ajuste input[type=submit]{
	width:75px;
	height:80px;
	border:none;
	background-color:#FFCC00;
	color:#fff;
	font-weight:700;
	font-size:18px;
	line-height:32px;
	cursor:pointer;
}


.seguinos .box_right{
	width:400px;
	float:left;
}

.seguinos .box_right_blog{
	width:400px;
	float:left;
}

.seguinos .box_right_blog .box_thumb{
	text-align:right;
}

.seguinos .box_right_blog .box_thumb .box_image{
	width:374px;
	height:200px;
	margin-bottom:10px;
}

.seguinos .box_right_blog .box_thumb .box_texto{
	padding:30px;
	text-align:left;
	font-size:24px;
	line-height:26px;
	color:#ffcc00;
	text-transform:uppercase;
}

.seguinos .box_right_blog .box_thumb .box_texto p{
	font-size:14px;
	line-height:32px;
	color:#fff;
}



/******************SEGUINOS******************/
.banner{
	width:100%;
}

/******************PROPUESTA******************/

.box_nota_ampliada{
	width:100%;
	height:130px;
}

.box_nota_ampliada .nota{
	width:590px;
	float:left;	
}

.box_nota_ampliada .nota .ajuste{
	padding:10px;
}

.box_nota_ampliada .extra .ajuste{
	padding:10px;
}

.box_nota_ampliada .nota .tag{
	padding-top:10px;
}

.box_nota_ampliada .nota .tag div{
	float:left;
	padding-bottom:10px;
}

.box_nota_ampliada .nota .tag a{
	font-size: 14px;
	line-height: 24px;
	color: #fff;
	padding: 4px 23px;
	text-decoration: none;
	background-color: #ffcc00;
	margin-right:10px;
	margin-bottom:50px;
	border-radius:5px;
	font-weight:700;
}

.box_nota_ampliada .nota .titulo{
	font-size:36px;
	line-height:35px;
	padding-top:40px;
}

.box_nota_ampliada .nota .abstract{
	font-size:14px;
	line-height:24px;
	color:#ffcc00;
	padding-top:25px;
	padding-bottom:25px;
	font-weight:700;
	text-transform:uppercase;
}

.box_nota_ampliada .texto .texto_nota{
	color:#2f2f2f;
	font-size:16px;
	line-height:24px;
}

.box_nota_ampliada .extra{
	width:310px;
	float:left;	
}

.box_nota_ampliada .extra .ajuste{
	padding-top:48px;
	color:#2f2f2f;
	font-size:28px;
	line-height:25px;
	font-weight:700;
}

.box_nota_ampliada .extra .funcion{
	border-top:1px solid #E5E5E5;
	border-bottom:1px solid #E5E5E5;
}

.box_nota_ampliada .extra .funcion ul{
	padding:10px 0px;
}

.box_nota_ampliada .extra .funcion ul li{
	float:left;
	width:33%;
	text-align:center;
}

.box_nota_ampliada .extra .social{
	padding:15px 0px;
}

.box_nota_ampliada .extra .notas_relacionadas{
	padding:15px 0px;
	font-size:14px;
	line-height:32px;
	color:#b2b4b6;
}

.box_nota_ampliada .extra .notas_relacionadas a{
	color:#000;
	text-decoration:none;
}

.box_nota_ampliada .extra .notas_relacionadas a:hover{
	text-decoration:underline;
}

.box_nota_ampliada .extra .notas_relacionadas ul li{
	width:300px;
	height:75px;
	margin-top:7px;
}

.box_nota_ampliada .extra .notas_relacionadas .image{
	width:115px;
	height:75px;
	float:left;
	text-align:left;
}

.box_nota_ampliada .extra .notas_relacionadas .texto{
	width:185px;
	height:73px;
	padding:10px;
	float:left;
	text-align:left;
	background-color:#FFEFB3;
	color:#000;
	line-height:16px;
	font-size:13px;
}

.box_nota_ampliada .extra .notas_relacionadas .texto p{
	font-size:13px;
	line-height:18px;
	color:#000;
}

.box_nota_ampliada .extra .notas_relacionadas .texto .ajuste{
	padding-top:10px;
	padding-left:10px;
}


/******************FOOTER******************/

.footer{}

.footer ul li{
	line-height:24px;
}

.footer ul li a{
	color:#6f6f6f;
	text-decoration:none;
}

.footer ul li a:hover{
	text-decoration:underline;
}

.footer .menu_a{
	width:275px;
	float:left;
}

.footer .menu_a .titulo{
	font-size:14px;
	line-height:16px;
	color:#b2b4b6;
	font-weight:700;
}

.footer .menu_b{
	width:300px;
	float:left;
}

.footer .menu_b .titulo{
	font-size:14px;
	line-height:16px;
	color:#b2b4b6;
	font-weight:700;
}

.footer .contacto{
	width:325px;
	float:left;
}

.footer .contacto .titulo{
	font-size:14px;
	line-height:16px;
	color:#b2b4b6;
	font-weight:700;
}

.footer .contacto .texto{
	font-size:14px;
	line-height:18px;
	color:#6f6f6f;
}

.footer .contacto .texto a{
	color:#ffcc00;
	text-decoration:none;
}

.footer .contacto .texto a:hover{
	text-decoration:underline;
}


/******************FOOTER LOGO******************/

.footer_logo{
	width:100%;
	background-color:#FFCC00;
	height:290px;
}

/****************************SLIDER************************************/


a img {
  border: none; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

#slider {
	text-align: center;
}

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
label, #active, img { -moz-user-select:none;-webkit-user-select:none; }
.catch { display: block; height: 0; overflow: hidden; }
#slider {
	margin: 0 auto;
}

.respond {
	margin: 0 auto;
	max-width: 370px;
}

/* NEW EXPERIMENT */
/* Slider Setup */


#slide1:checked ~ #slides .inner { margin-left:0; }
#slide2:checked ~ #slides .inner { margin-left:-100%; }
#slide3:checked ~ #slides .inner { margin-left:-200%; }
#slide4:checked ~ #slides .inner { margin-left:-300%; }
#slide5:checked ~ #slides .inner { margin-left:-400%; }


#overflow {
	width: 100%;
	overflow: hidden;
}

article{
	width: 100%;
	height:498px;
}

#slides .inner {
	width: 500%;
	line-height: 0;
}

#slides article {
	width: 20%;
	float: left;
}

/* Slider Styling */

/* Control Setup */

#controls {
	margin-top: -35px;
	width: 100%;
}

#controls label { 
	display: none;
	width: 47px;
	height: 85px;
	opacity: 1;
}

#active {
	margin-top:0px;
	text-align: center;
}

#active label {
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	display: inline-block;
	width: 18px;
	height: 18px;
	background: #fff;
	border:2px solid #FFD300;
	cursor:pointer;
}

#active label:hover {
	background: #FFD300;
	border: 2px solid #C4DA09 !important;
}

#controls label:hover {
	opacity: 1;
}

#slide1:checked ~ #controls label:nth-child(2), 
#slide2:checked ~ #controls label:nth-child(3), 
#slide3:checked ~ #controls label:nth-child(4), 
#slide4:checked ~ #controls label:nth-child(5), 
#slide5:checked ~ #controls label:nth-child(1) {
	background: url('next.png') no-repeat;
	float: right;
	margin-top:-260px;
	margin-right:30px;
	display: block;
	cursor:pointer;
}


#slide1:checked ~ #controls label:nth-child(5),
#slide2:checked ~ #controls label:nth-child(1),
#slide3:checked ~ #controls label:nth-child(2),
#slide4:checked ~ #controls label:nth-child(3),
#slide5:checked ~ #controls label:nth-child(4) {
	background: url('prev.png') no-repeat;
	float: left;
	margin-top:-260px;
	margin-left:30px;
	display: block;
	cursor:pointer;
}

#slide1:checked ~ #active label:nth-child(1),
#slide2:checked ~ #active label:nth-child(2),
#slide3:checked ~ #active label:nth-child(3),
#slide4:checked ~ #active label:nth-child(4),
#slide5:checked ~ #active label:nth-child(5) {
	background: #FFD300;
	border-color: #FFD300 !important;
}


/* Slider Styling */

#slides {
	margin: 0px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	box-shadow: 1px 1px 4px #666;
	background: #fff;
	background: rgb(252,255,244); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(252,255,244,1) 0%, rgba(219,218,201,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,255,244,1)), color-stop(100%,rgba(219,218,201,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(252,255,244,1) 0%,rgba(219,218,201,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(252,255,244,1) 0%,rgba(219,218,201,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(252,255,244,1) 0%,rgba(219,218,201,1) 100%); /* IE10+ */
	background: linear-gradient(top,  rgba(252,255,244,1) 0%,rgba(219,218,201,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#dbdac9',GradientType=0 ); /* IE6-9 */
}


/* Animation */

#slides .inner {
	-webkit-transform: translateZ(0);
	-webkit-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000); 
	-moz-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000); 
    -ms-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000); 
     -o-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000); 
        transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000); /* easeInOutQuart */

	-webkit-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000); 
	-moz-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000); 
    -ms-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000); 
     -o-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000); 
        transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000); /* easeInOutQuart */
}

#slider {
	-webkit-transform: translateZ(0);
	-webkit-transition: all 0.5s ease-out;
	-moz-transition: all 0.5s ease-out;
	-o-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}

#slider input{
	display:none;
}

#controls label{
	-webkit-transition: opacity 1;
	-moz-transition: opacity 1;
	-o-transition: opacity 1;
	transition: opacity 1;
}

#slide1:checked ~ #slides article:nth-child(1) .info,
#slide2:checked ~ #slides article:nth-child(2) .info,
#slide3:checked ~ #slides article:nth-child(3) .info,
#slide4:checked ~ #slides article:nth-child(4) .info,
#slide5:checked ~ #slides article:nth-child(5) .info {
	opacity: 1;
	-webkit-transition: all 1s ease-out 0.6s;
	-moz-transition: all 1s ease-out 0.6s;
	-o-transition: all 1s ease-out 0.6s;
	transition: all 1s ease-out 0.6s;
}

.info, #controls, #slides, #active, #active label, .info h3, .desktop, .tablet, .mobile {
	-webkit-transform: translateZ(0);
	-webkit-transition: all 1 ease-out;
	-moz-transition: all 1 ease-out;
	-o-transition: all 1 ease-out;
	transition: all 1 ease-out;
}

/* Respond Options */

#desktop:checked ~ #slider {
	width:100%;
}

#tablet:checked ~ #slider {
	max-width: 850px;
}

#mobile:checked ~ #slider {
	max-width: 450px;
}

#desktop:checked ~ #slider .desktop,
#tablet:checked ~ #slider .tablet,
#mobile:checked ~ #slider .mobile {
	color: #777;
	opacity: 1;
}

.desktop, .tablet, .mobile {
	display: inline-block;
	width: 60px;
	height: 60px;
	padding-top: 50px;
	opacity: 0.35;
	font-size: 12px;
}

.desktop:hover, .tablet:hover, .mobile:hover {
	opacity: 0.2;
}

.desktop {
	background: url('desktop.png') no-repeat;
}

.tablet {
	background: url('tablet.png') no-repeat;
}

.mobile {
	background: url('mobile.png') no-repeat;
}

/* Responsive Styling */

/* Tablet */

#tablet:checked ~ #slider #controls {
	margin: -25% 0 0 12%;
	width: 76%;
	height: 50px;
}

#tablet:checked ~ #slider #controls label {
	-moz-transform: scale(0.8);
	-webkit-transform: scale(0.8);
	-o-transform: scale(0.8);
	-ms-transform: scale(0.8);
	transform: scale(0.8);
}

#tablet:checked  ~ #slider #slides, #mobile:checked  ~ #slider #slides {
	padding: 1% 0;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}

#tablet:checked ~ #slider #active {
	margin: 22% 0 0;
}

.last_articles_box ul li{
	list-style: none;
	padding:0;
	margin:0;
}

.page_navigation , .alt_page_navigation{
	padding-bottom: 60px;
	padding-top: 15px;
	max-width:260px;
	margin:auto;
	text-align:center;
	color:#555555;
}

.page_navigation a, .alt_page_navigation a{
	padding:5px;
	margin:2px;
	color:#555555;
	text-decoration:none;
	float: left;
	font-family: Tahoma;
	font-size: 12px;
	width:28px;
	height:28px;
}
.active_page{
	background-color:#FFD300 !important;
	color:#000 !important;
	opacity:1 !important;
	filter:alpha(opacity=100) !important; /* For IE8 and earlier */
	font-weight:700;
}	

.content, .alt_content{
	color: black;
}

.page_link, .previous_link, .next_link{
	opacity:1;
}

/*****************BOX BLOG PAGINADO****************/

.box_blog{
	width:100%;
}

.box_blog .content{
	min-height:1975px;
}

.box_blog .content .articulo_thumb{
	border-bottom: 1px solid #e3e3e3;
	height: 395px;
}

.box_blog .content .articulo_thumb .titulo{
	padding-top:50px;
	padding-bottom:30px;
	font-size:24px;
	line-height:26px;
	color:#e6c00d;
}

.box_blog .content .articulo_thumb .abstract{
	font-size: 18px;
	line-height:24px;
}

.box_blog .content .articulo_thumb img{
	float: left;
	padding: 0px 30px 5px 0px;
	width: 419px;
	height: 232px;
}

.box_blog .content .articulo{
	border-bottom: 1px solid #e3e3e3;
	height: 335px;
}

.box_blog .content .articulo .titulo{
	padding-top:50px;
	padding-bottom:30px;
	font-size:24px;
	line-height:26px;
	color:#e6c00d;
}

.box_blog .content .articulo .abstract{
	font-size: 18px;
	line-height:24px;
}

.box_blog .content .compartir{
	display:table;
}

.box_blog .content .compartir div{
	display:table-cell;
	vertical-align:middle;
}

.box_blog .content .compartir div.social{
	padding-top:7px;
	padding-left:5px;
}


/*****************BOX PUBLICACIONES****************/

.barra_publicaciones{
	background-color:#E5E5E5;
	padding-top:20px;
	padding-bottom:20px;
}

.barra_publicaciones .ajuste{
	padding:0 15px;
}

.barra_publicaciones p{
	font-size:24px;
	line-height:35px;
	font-weight:700;
}

/**/
.publ_busqueda .box_left{
	width:500px;
	float:left;
}

.publ_busqueda .box_left .enterate{
	font-size:14px;
	line-height:16px;
	color:#b2b4b6;
	padding-top:40px;
	padding-bottom:10px;
	font-weight:700;
}

.publ_busqueda .publ_busc_categ{
	width:440px;
	height:73px;
	float:left;
	background-color:#E5E5E5;
}

.publ_busqueda .publ_busc_categ .ajuste{
	padding-left:20px;
}

.publ_busqueda .publ_busc_categ .ajuste input[type=text]{
	font-family:"Open Sans", sans-serif;
	background-color:#E5E5E5;
	border:none;
	font-size:18px;
	line-height:32px;
	width:345px;
	font-style:italic;
	color:#3d3d3d;
}

.publ_busqueda .publ_busc_categ .ajuste input[type=submit]{
	width:75px;
	height:73px;
	border:none;
	color:#fff;
	font-weight:700;
	font-size:18px;
	line-height:32px;
	cursor:pointer;
	background-image:url(../img/publ_flecha.jpg);
}

.publicaciones .titulo_categoria{
	font-size: 18px;
	line-height: 32px;
	color: #dfb900;
	padding-top:50px;
	padding-bottom: 20px;
	font-weight: 700;
	letter-spacing: 7px;
	border-bottom:3px solid #C4C4C4;
}

.publicaciones ul li{
	width: 225px;
	float: left;
	text-align: left;
	padding: 25px 15px 0 15px;
}

.publicaciones ul li .ajuste{
	max-height:200px;
}

.publicaciones ul.libro li .titulo{
	font-size:12px;
	line-height:18px;
	height:85px;
	padding:15px 0;
	font-weight:700;
}

.publicaciones ul li .titulo{
	font-size:12px;
	line-height:18px;
	height:125px;
	padding:15px 0;
	font-weight:700;
}

.publicaciones ul li .descripcion{
	font-size:12px;
	line-height:16px;
	color:#6a6a6a;
	font-style:italic;
}
.publicaciones ul li .iconos{
	padding-top:20px;
	padding-bottom:20px;
	border-bottom:1px dotted #C4C4C4;
}

/*****************BOX BIO****************/

.barra_bio{
	background-color:#E5E5E5;
	padding-top:20px;
	padding-bottom:20px;
}

.barra_bio .ajuste{
	padding:0 15px;
}

.barra_bio p{
	font-size:24px;
	line-height:35px;
	font-weight:700;
}


.biografia .infancia{
	padding-top:40px;
}

.biografia .infancia .ajuste{
	padding:0 15px;
}

.biografia .infancia .titulo{
	font-size:18px;
	line-height:32px;
	color:#dfb900;
	padding-bottom:20px;
	font-weight:700;
	letter-spacing:7px;
}

.biografia .infancia .texto{
	font-size:16px;
	line-height:20px;
	color:#000;
}

.biografia .la_universidad{
	background-image:url(../img/bio_bg_01.jpg);
	width:100%;
	height:534px;
	background-position:center;
}

.biografia .la_universidad .ajuste{
	width:500px;
	float:right;
}

.biografia .la_universidad .titulo{
	font-size:18px;
	line-height:32px;
	color:#fff;
	padding-top:40px;
	padding-bottom:10px;
	font-weight:700;
	letter-spacing:7px;
}

.biografia .la_universidad .texto{
	font-size:16px;
	line-height:20px;
	color:#000;
}

.biografia .ucla{
	background-color:#CCC;
	padding-top:40px;
	padding-bottom:40px;
}

.biografia .ucla .left{
	width:680px;
	float:left;
}

.biografia .ucla .left .titulo{
	font-size:18px;
	line-height:32px;
	color:#e0bd0d;
	padding-bottom:10px;
	font-weight:700;
	letter-spacing:7px;
}

.biografia .ucla .left .texto{
	font-size:16px;
	line-height:20px;
	color:#000;
}

.biografia .ucla .right{
	width:220px;
	float:left;
	position:relative;
}

.biografia .ucla .right img{
	position:absolute;
	top:10px;
	left:10px;
}

.biografia .ucla_foto{
	margin-top:-15px;
}

.biografia .ypf{
	padding-top:40px;
	padding-bottom:50px;
}

.biografia .ypf .left{
	width:300px;
	float:left;
	text-align:center;
	position:relative;
	height: 1px;
}

.biografia .ypf .left img{
	position:absolute;
	top:10px;
	left:10px;
	height: 271px;
}

.biografia .ypf .right{
	width:600px;
	float:left;
}

.biografia .ypf .right .titulo{
	font-size:18px;
	line-height:32px;
	color:#e0bd0d;
	padding-bottom:10px;
	font-weight:700;
	letter-spacing:7px;
}
.biografia .ypf .right .texto{
	font-size:16px;
	line-height:20px;
	color:#000;
}

.biografia .ypf_foto{
	margin-top:-15px;
}

.biografia .uni_torcuato_di_tella{
	background-image:url(../img/bio_bg_02.jpg);
	width:100%;
	height:479px;
	background-position:center;
}

.biografia .uni_torcuato_di_tella .ajuste{
	width:510px;
	padding:0 15px;
}

.biografia .uni_torcuato_di_tella .titulo{
	font-size:18px;
	line-height:32px;
	color:#fff;
	padding-top:40px;
	padding-bottom:10px;
	font-weight:700;
	letter-spacing:7px;
}

.biografia .uni_torcuato_di_tella .texto{
	font-size:16px;
	line-height:20px;
	color:#fff;
}

.biografia .harvard{
	width:100%;
	background-color:#424242;
}

.biografia .harvard .wrapper{
	background-image:url(../img/bio_bg_03.jpg);
	height:482px;
}

.biografia .harvard .ajuste{
	width:410px;
	padding:0 15px;
	padding-top:90px;
	float:right;
}

.biografia .harvard .titulo{
	font-size:18px;
	line-height:32px;
	color:#ffffff;
	padding-top:40px;
	padding-bottom:10px;
	font-weight:700;
	letter-spacing:7px;
	text-align:right;
}

.biografia .harvard .texto{
	font-size:16px;
	line-height:20px;
	color:#fff;
	text-align:right;
}

.biografia .banco_ciudad{
	background-image:url(../img/bio_bg_04.jpg);
	width:100%;
	height:594px;
	background-position:center;
}

.biografia .banco_ciudad .ajuste{
	width:665px;
	padding:0 15px;
}

.biografia .banco_ciudad .titulo{
	font-size:18px;
	line-height:32px;
	color:#e1bd0d;
	padding-top:40px;
	padding-bottom:10px;
	font-weight:700;
	letter-spacing:7px;
}

.biografia .banco_ciudad .texto{
	font-size:16px;
	line-height:20px;
	color:#000;
}

.biografia .congreso{
	width:100%;
	padding-top:50px;
	padding-bottom:40px;
}

.biografia .congreso .left{
	float:left;
	width:500px;
}

.biografia .congreso .right{
	float:left;
	width:385px;
}

.biografia .congreso .right .ajuste{
	width:515px;
	padding:0 15px;
}

.biografia .congreso .right .titulo{
	font-size:18px;
	line-height:18px;
	color:#e1bd0d;
	padding-bottom:10px;
	font-weight:700;
	letter-spacing:7px;
}

.biografia .congreso .right .texto{
	font-size:16px;
	line-height:20px;
	color:#000;
}

/*************NOTICIAS*********************/

.noticia_busqueda .box_left{
	width:500px;
	float:left;
}

.noticia_busqueda .box_left .enterate{
	font-size:14px;
	line-height:16px;
	color:#b2b4b6;
	padding-top:40px;
	padding-bottom:10px;
	font-weight:700;
}

.noticia_busqueda .noticia_busc_nota{
	width:440px;
	height:73px;
	float:left;
	background-color:#E5E5E5;
}

.noticia_busqueda .noticia_busc_nota .ajuste{
	padding-left:20px;
}

.noticia_busqueda .noticia_busc_nota .ajuste input[type=text]{
	font-family:"Open Sans", sans-serif;
	background-color:#E5E5E5;
	border:none;
	font-size:18px;
	line-height:32px;
	width:345px;
	font-style:italic;
	color:#3d3d3d;
}

.noticia_busqueda .noticia_busc_nota .ajuste input[type=submit]{
	width:75px;
	height:73px;
	border:none;
	color:#fff;
	font-weight:700;
	font-size:18px;
	line-height:32px;
	cursor:pointer;
	background-image:url(../img/publ_flecha.jpg);
}

.noticia_busqueda .titulo_categoria{
	font-size: 18px;
	line-height: 32px;
	color: #dfb900;
	padding-top:50px;
	padding-bottom: 20px;
	font-weight: 700;
	letter-spacing: 7px;
	border-bottom:3px solid #C4C4C4;
}

/*****************BOX NOTICIA PAGINADO****************/

.box_noticias{
	width:100%;
}

.box_noticias .content{
	min-height:1920px;
}

.box_noticias .content .articulo_thumb{
	border-bottom: 1px solid #e3e3e3;
	height: 256px;
}

.box_noticias .content .articulo_thumb .fecha{
	font-size:14px;
	line-height:16px;
	color:#b2b4b6;
	font-weight:700;
	padding-top:25px;
}

.box_noticias .content .articulo_thumb .titulo{
	padding-top:15px;
	padding-bottom:20px;
	font-size:24px;
	line-height:26px;
	color:#e6c00d;
}

.box_noticias .content .articulo_thumb .abstract{
	font-size: 18px;
	line-height:24px;
}

.box_noticias .content .articulo_thumb img{
	float: left;
	padding-right:30px;
	width: 211px;
	height: 101px;
}

.box_noticias .content .articulo{
	border-bottom: 1px solid #e3e3e3;
	height: 220px;
}

.box_noticias .content .articulo .fecha{
	font-size:14px;
	line-height:16px;
	color:#b2b4b6;
	font-weight:700;
	padding-top:25px;
}

.box_noticias .content .articulo .titulo{
	padding-top:15px;
	padding-bottom:15px;
	font-size:24px;
	line-height:26px;
	color:#e6c00d;
}

.box_noticias .content .articulo .abstract{
	font-size: 18px;
	line-height:24px;
}

.box_noticias .content .compartir{
	display:table;
	clear:both;
	padding-top:10px;
	padding-bottom:15px;
}

.box_noticias .content .compartir div{
	display:table-cell;
	vertical-align:middle;
}

.box_noticias .content .compartir div.social{
	padding-top:7px;
	padding-left:5px;
}




