.post-title, .post-title p {
    font-size: 36px;
    line-height: 35px;
    padding-top: 10px;
}

.post-excerpt, .post-excerpt p {
    font-size: 14px;
    line-height: 24px;
    color: #ffcc00;
    padding-top: 25px;
    padding-bottom: 25px;
    font-weight: 700;
    text-transform: uppercase;
}

.post-content a{
    letter-spacing: 1px;
    font-weight: bold;
}

.post-image {
    position: relative;
    margin-bottom: 30px;
    overflow: hidden;
}

.post-image img {
    max-height: 600px;
}

.post-tag {
    font-size: 14px;
    line-height: 24px;
    color: #fff;
    padding: 4px 23px;
    text-decoration: none;
    background-color: #ffcc00;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-weight: 700;
}

.post-tags ul {
    list-style-type: none;
    display: inline;
    padding-left: 0;
}

.post-tags ul li {
    white-space: nowrap;
    display: inline-block;
}

.post-print {
    list-style-type: none;
    display: inline;
    padding-left: 0;
    border-top: 1px solid #E5E5E5;
    border-bottom: 1px solid #E5E5E5;
    padding-top: 10px;
    padding-bottom: 10px;
}

.post-print li {
    white-space: nowrap;
    display: inline-block;
    vertical-align: middle;
}

.post-left-panel {
    padding-top: 40px;
}

#post-novedades-panel {
    background-color: #F2F2F2;
    padding: 15px 0;
}

.post-novedad-box {
    padding: 0;
    /*display: table;*/
}

.post-novedad-box div.post-novedades-title {
    position: absolute;
    bottom: 0;
    background-color: rgba(255, 211, 0, 0.8);
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
}

.post-novedades-title a:hover {
    text-decoration: underline;
}

.post-novedades-title {
    text-align: center !important;
}

.post-novedades-title a {
    font-size: 24px;
    line-height: 26px;
    color: #fff;
    text-decoration: none;
    text-align: center;
}

.post-novedades-title-no-background a {
    color: #ffcc00;
    text-decoration: none;
    line-height: 26px;
    font-size: 24px;
}

.post-novedades-title-no-background {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.post-novedades-boxes div[id^='s'] {

}

#post-button-print {
    cursor: pointer;
}

.invertido a {
    color: #ffffff;
}

.epigrafe {
    position: absolute;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
    width: 100%;
    bottom: 0;
    background-color: rgba(255, 211, 0, 0.8);
}

.post-relacionado-lateral{
    margin-top: 10px;
}
.lateral-thumbnail{
    height: 100px;
    background-position: center center;
    background-size: cover;
}

.lateral-excerpt a:hover {
    text-decoration: underline;
}

.lateral-excerpt{
    background-color: #FFEFB3;
    padding: 10px;
    line-height: 16px;
}

.lateral-excerpt a{
    color: #000;
    font-size: 13px;
    font-weight: bold;
}

