.curriculum-vitaje-container{
    background-color: #FFD300;
    padding: 30px;
    margin: 30px auto auto;
}
.curriculum-vitaje-container a:hover{
    text-decoration: underline;
}
.curriculum-vitaje-container a{
    font-size: 24px;
    line-height: 24px;
    color: #ffffff;
    text-decoration: none;
}

.publicaciones-resultado-label{
    background-color: #E5E5E5;
    padding-top: 20px;
    padding-bottom: 20px;
}
.publicaciones-resultado-label .container{
    font-size: 24px;
    line-height: 35px;
    font-weight: 700;
}

.publicaciones-search-field input{
    height: 80px;
    font-family: "Open Sans", sans-serif;
    background-color: #E5E5E5;
    border: none;
    font-size: 18px;
    line-height: 32px;
    width: 345px;
    font-style: italic;
    color: #3d3d3d;
    margin-left: 15px;
}
.publicaciones-search-field span{
    font-size: 14px;
    line-height: 16px;
    color: #b2b4b6;
    padding-top: 40px;
    padding-bottom: 10px;
    font-weight: 700;
}
.publicaciones-search-field a{
    width: 75px;
    height: 80px;
    border: none;
    background: #FFCC00 url(../img/publ_flecha.jpg) no-repeat 50% 50%;
    color: #fff;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    cursor: pointer;
    display:table-cell;
    padding-top: 23px;
}

.publicaciones-categoria-title{
    font-size: 18px;
    line-height: 32px;
    color: #dfb900;
    padding-top: 50px;
    padding-bottom: 20px;
    font-weight: 700;
    letter-spacing: 7px;
    border-bottom: 3px solid #C4C4C4;
}

.publicacion-post-title{
    font-size: 12px;
    line-height: 18px;
    padding: 15px 0;
    font-weight: 700;
}
.publicacion-post-desc, .publicacion-post-desc p{
    font-size: 12px;
    line-height: 16px;
    color: #6a6a6a;
    font-style: italic;
}

.publicaciones-post-container{
    padding-bottom: 20px;
    border-bottom: 1px dotted #C4C4C4;

}

.publicacion-image{
    width: 200px;
}

#publicaciones-navigator{
    margin-top: 10px;
}
#publicaciones-navigator li{
    cursor: pointer;
}

#publicaciones-navigator li.seleccionada{
    background-color: #dfb900;
    color: #ffffff;
}

.publicacion-item{
    display: inline-block;
    margin:  0px 0px 0px 15px;
    width: 230px;
    padding:  1rem;
}

.iconos a {
    padding-right: 5px;
}