.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }

.rslides_container h1 {
    font: 600 28px/36px sans-serif;
    margin: 50px 0;
}

.rslides_container h3 {
    font: 600 18px/24px sans-serif;
    color: #999;
    margin: 0 0 20px;
}

.rslides {
    margin: 0 auto;
}

.rslides_container {
    margin-bottom: 5px;
    position: relative;
    /*float: left;*/
    width: 100%;
}

.rslides_nav {
    position: absolute;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    top: 50%;
    left: 0;
    z-index: 99;
    opacity: 0.7;
    text-indent: -9999px;
    overflow: hidden;
    text-decoration: none;
    height: 86px;
    width: 47px;
    background: transparent url("../img/flechas.png") no-repeat left top;
    margin-top: -43px;
    margin-left: 20px;
    margin-right: 20px;
}

.rslides_nav:active {
    opacity: 1.0;
}

.rslides_nav.next {
    left: auto;
    background-position: right top;
    right: 0;
}

.rslides_nav:focus {
    outline: none;
}

.rslides_tabs {
    position: absolute;
    left: 50%;
    margin-left: -68px;
    margin-top: -30px;
    z-index: 999;
    text-align: center;
}

.rslides_tabs li {
    display: inline;
    float: none;
    _float: left;
    *float: left;
    margin-right: 5px;
}

.rslides_tabs a {
    text-indent: -9999px;
    overflow: hidden;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    background: #e4e4e4;
    background: rgba(176, 176, 176, 0.20);
    display: inline-block;
    _display: block;
    *display: block;
    -webkit-box-shadow: inset 0 0 2px 0 rgba(101, 101, 101, 0.30);
    -moz-box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
    box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
    width: 20px;
    height: 20px;
}

.rslides_tabs .rslides_here a {
    background: #ffd300;
    background: rgba(255,211,0, .8);
}

.rslides_caption {
    position: absolute;
    display: block;
    bottom: 0;
    margin: 0 0 0 0;
    left: 0;
    right: 0;
    padding: 10px 20px 30px;
    text-align: center;
    background: #000;
    background: rgba(0,0,0, .8);
    color: #fff;
}

@media screen and (max-width: 600px) {
    .github {
        display: none;
    }
}