<div id="slider-blog" class="fluid-container rslides_container"></div>

<div id="blog-post-list" class="container">
</div>

<div class="container text-center">
    <ul id="blog-paginator" class="pagination">

    </ul>
</div>