<div id="slider-home" class="fluid-container rslides_container"></div>

<div class="destacados container">
    <div class="row">
        <div id="destacado-large-1" class="col-md-4 box-large">

        </div>
        <div class="col-md-8 box-large noticias-destacadas">
            <div class="col-md-6 row">
                <div id="destacado-1" class="col-md-12 box"></div>
                <div id="destacado-3" class="col-md-12 box"></div>
            </div>
            <div class="col-md-6 row destacados-row2">
                <div id="destacado-2" class="col-md-12 box"></div>
                <div id="destacado-4" class="col-md-12 box"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div id="destacado-5" class="col-md-4 box post-novedad-box-1"></div>
        <div id="destacado-6" class="col-md-4 box post-novedad-box-2"></div>
        <div id="destacado-7" class="col-md-4 box post-novedad-box-3"></div>
    </div>
</div>

<div class="mas_novedades container-fluid text-center">
    <a class="" href="#novedades">Más Novedades</a>
</div>

<div class="propuesta container-fluid">
        <div class="propuesta-text">
            <a href="#propuesta">ENVIAME TU PROPUESTA</a><br>
            <span>Participá, escuchamos tus ideas.</span>
        </div>
</div>