<div class="novedades-resultado-label container-fluid">
    <div class="container text-left">MÁS NOVEDADES</div>
</div>
<div  class="container">
    <div class="novedades-search-field row text-center col-sm-12">
        <span class="col-md-12 text-left">BUSCAR NOTA POR AÑO:</span>
        <input id="novedades-search-input" class="col-sm-4" type="number" placeholder="YYYY">
        <a id="novedades-search-button" class="col-sm-2"></a>
    </div>
</div>
<div id="novedades-post-list" class="container">

</div>