<div id="slider-prensa" class="fluid-container rslides_container"></div>

<div id="prensa-post-list" class="container">

</div>

<div class="container text-center">
    <ul id="prensa-paginator" class="pagination">

    </ul>
</div>