<div class="publicaciones-resultado-label container-fluid">
    <div class="container text-left">PUBLICACIONES</div>
</div>

<div class="container">
    <nav class="navbar navbar-embossed header-menu">
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav nav-justified" id="publicaciones-navigator">
                <li class="col-md-2 seleccionada">TODAS</li>
                <li class="col-md-2" data-seccion="publicaciones-categoria-libros">LIBROS</li>
                <li class="col-md-2" data-seccion="publicaciones-categoria-colaboraciones">CAPÍTULOS DE LIBROS</li>
                <li class="col-md-2" data-seccion="publicaciones-categoria-trabajos-publicados">TRABAJOS PUBLICADOS</li>
                <li class="col-md-2" data-seccion="publicaciones-categoria-trabajos">TRABAJOS</li>
            </ul>
        </div>
    </nav>
</div>
<div id="publicaciones-post-list" class="container">
    <div class="publicaciones-categoria-libros col-md-12">
        <div class="publicaciones-categoria-title col-md-12">LIBROS</div>
        <div class="publicaciones-posts row col-md-12"></div>
    </div>
    <div class="publicaciones-categoria-colaboraciones col-md-12">
        <div class="publicaciones-categoria-title col-md-12">CAPÍTULOS DE LIBROS</div>
        <div class="publicaciones-posts row col-md-12"></div>
    </div>
    <div class="publicaciones-categoria-trabajos-publicados col-md-12">
        <div class="publicaciones-categoria-title col-md-12">TRABAJOS PUBLICADOS</div>
        <div class="publicaciones-posts row col-md-12"></div>
    </div>
    <div class="publicaciones-categoria-trabajos col-md-12">
        <div class="publicaciones-categoria-title col-md-12">TRABAJOS</div>
        <div class="publicaciones-posts row col-md-12"></div>
    </div>
    <div></div>
</div>